$themePrimaryMain: #01579b;
$themePrimaryDarker: #003c6c;
$themePrimaryLighter: #3378af;
$themePrimaryText: #fff;
$themeSecondaryMain: #ff5252;
$themeSecondaryDarker: #b23939;
$themeSecondaryLighter: #ff7474;