@import "../../styles/flex.scss";
@import "../../styles/theme.scss";

.header {
  @include horizontal-center-flex;
  padding: 0 20px;
  width: 100%;
  background-color: $themePrimaryMain;
  color: $themePrimaryText;
  height: 50px;
  box-sizing: border-box;

  .brand {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
  }
}